.my-card {
  background-color: #14d69f;
  font-family: 'Goldman', cursive;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  box-shadow:0px -1px 25px rgba(0,0,0,0.5), 0px 1px 25px rgba(0,0,0,0.7);
}
.link-color {
  color: black;
  text-align: center;
}
.li-style {
  list-style-type: none;
}
.card-img-top {
  margin-top: 10px;
  border: 1px solid black;
  box-shadow:0px -1px 25px rgba(0,0,0,0.5), 0px 1px 25px rgba(0,0,0,0.7);
}
.card-body {
  display: flex;
  justify-content: center;
}