.main-container {  
  width: 900px;
  height: 1200px;
  background-color: #51e8ce;
  opacity: 0.7;
  border: 1px solid black;
}
body {
  display: flex;
  justify-content: center;
  background-image: url("https://million-wallpapers.com/wallpapers/1/29/323580531926155/summer-beach-bar.jpg");
}